@using OxxCommerceStarterKit.Web
@model OxxCommerceStarterKit.Web.Models.ViewModels.PageListBlockItemViewModel
<div class="row tile">
	@if (Model.ImageUrl != null)
	{
		<div class="col-md-6">
			<a href="@Url.ContentUrl(Model.ContentLink)">
				@if (!string.IsNullOrEmpty(Model.ImageUrl)) { 
				<img src="@(Model.ImageUrl)" class="img-responsive" />
				}
				else
				{
					<img src="@(WebGlobal.NoImageUrl)" />
				}
			</a>
		</div>
	}
    <div class="col-md-6">
        <h2><a class="name" href="@Url.ContentUrl(Model.ContentLink)">@Model.Title</a></h2>
        @if (!string.IsNullOrEmpty(Model.Text))
        {
            <p>@Html.Raw(Model.Text)</p>
        }
    </div>
</div>

