@model OxxCommerceStarterKit.Web.Models.ViewModels.PaymentSelection
@{
    bool oneIsChecked = false;
    bool onlyOnePaymentMethod = Model.PaymentMethods.Count == 1;
}
<div class="payment-methods-title">
    <h3>@Html.Translate("/common/checkout/payment_methods_title")</h3>
</div>

<div class="row payment-methods">
    <div class="col-xs-12">
        @foreach (var p in Model.PaymentMethods)
        {
            bool isChecked = !oneIsChecked && p.PaymentMethod.IsDefault && (Model.SelectedPayment == Guid.Empty || Model.SelectedPayment == p.PaymentMethod.PaymentMethodId);
            if (isChecked)
            {
                oneIsChecked = true;
            }
            <div class="payment-method">
                <label>
                    <span @(onlyOnePaymentMethod ? "style=display:none;" : "")>
                        <div class="radio light">
                            @Html.RadioButton("SelectedPayment", p.PaymentMethod.PaymentMethodId, isChecked)
                            <span class="text">@p.PaymentMethod.Name</span>
                            <div>
                                @Html.Raw(p.Description)
                            </div>
                        </div>
                    </span>

                </label>
            </div>
        }
    </div>
</div>
