<div class="row three" ng-class="{ 'five': nrOfColumns === 5, 'three': nrOfColumns !== 5 }">
    <div class="col-lg-4 col-md-6 col-sm-12 product" ng-repeat="product in products">
        <div class="tile">
            <div class="badges" ng-show="product.DiscountedPrice">
                <span class="sale"></span>
            </div>
            <div class="price-label">
                <span ng-show ="product.DiscountedPrice">{{product.DiscountedPrice}}</span>
                <span ng-hide="product.DiscountedPrice">{{product.DefaultPrice}}</span>
                @*<span class="member-price" ng-show="product.CustomerClubPrice">@Html.Translate("/common/product/member_price"): {{product.CustomerClubPrice}}</span>
                    <span class="sale-price" ng-show="product.DiscountedPrice">@Html.Translate("/common/product/sale_price"): {{product.DiscountedPrice}}</span>*@
            </div>
            <div class="price-label old-price" ng-show="product.DiscountedPrice">
                {{product.DefaultPrice}}
            </div>

            <a href="{{ product.ProductUrl }}">
                <img class="img-responsive" ng-src="{{product.DefaultImageUrl}}?preset=largethumbnail" />
            </a>
            <div class="footer">
                @*<div class="newitemtext" ng-show="product.NewItemText">{{product.NewItemText}}</div>*@
                <a href="{{ product.ProductUrl }}"><h3 class="name">{{ product.DisplayName }}</h3></a>
                <div class="tools" ng-controller="BuyController" ng-init="initWithProduct(product)">
                    <div class="rate">
                        <span class="active"></span>
                        <span class="active"></span>
                        <span class="active"></span>
                        <span></span>
                        <span></span>
                    </div>
                    <!--Add To Cart Button-->
                    <a class="add-cart-btn" ng-click="addToCartDefault()"><span>@Html.Translate("/common/product/add_to_cart")</span><i class="icon-shopping-cart"></i></a>
                   
                    <!--Add To Wishlist Button-->
                    <a class="wishlist-btn" ng-click="addToWishlist(product)">
                        <div class="hover-state">Wishlist</div>
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
                @*<div class="add-to-cart-form" ng-controller="BuyController" ng-init="initWithProduct(product)">
                        <input type="button" class="btn btn-success btn-sm" value="@Html.Translate("/common/product/add_to_cart")" ng-click="addToCartDefault()" />
                    </div>*@
            </div>
        </div>
    </div>
</div>

<div class="row">
    <button class="center-block" style="float: none !important;" ng-click="LoadMore()" ng-show="showMore">
        @Html.Translate("/common/productlist/show_more")
    </button>
</div>
