@using OxxCommerceStarterKit.Web.Extensions
@using OxxCommerceStarterKit.Web.Models.Files
@model OxxCommerceStarterKit.Web.Models.Blocks.SliderBlock
@{
    Layout = null;
}
@Html.FullRefreshPropertiesMetaData(new[] { "Images" })
<div @Html.EditAttributes(x => x.Images)>
    @if (Model != null && Model.Images != null && Model.Images.Count > 0)
    {
        <section class="hero-slider">
            <div class="master-slider" id="hero-slider">
                @foreach (var image in Model.Images.ToMedia<ImageFile>())
                {
                    <div class="ms-slide" data-delay="7">
                        <div class="overlay"></div>
                        @Html.Action("Index", "ImageFile", new { currentContent = image })
                        @*@<img src="~/Content/masterslider/blank.gif" data-src="~/Content/img/hero/slideshow/slide_1.jpg" alt="Nikon D4S" />*@
                        <h2 style="width: 456px; left: 110px; top: 110px;" class="light-color ms-layer" data-effect="top(50,true)" data-duration="700" data-delay="250" data-ease="easeOutQuad">Nikon D4S</h2>
                        <p style="width: 456px; left: 110px; top: 210px;" class="light-color ms-layer" data-effect="back(500)" data-duration="700" data-delay="500" data-ease="easeOutQuad">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</p>
                        <div style="left: 110px; top: 300px;" class="ms-layer button" data-effect="bottom(50,true)" data-duration="600" data-delay="950" data-ease="easeOutQuad"><a class="btn btn-primary" href="#"><span>1845$</span>Buy it now</a></div>
                    </div>

                    @*<li>
                            @if (!string.IsNullOrEmpty(image.VideoUrl))
                            {
                                <div class="container">
                                    <div class="col-xs-12">
                                        @Html.Action("Index", "ImageFile", new { currentContent = image })
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="image-container">
                                    <div class="image-centerer">
                                        @Html.Action("Index", "ImageFile", new { currentContent = image })
                                    </div>
                                </div>
                            }
                        </li>*@
                }
            </div>

        </section>
    }
</div>
