@using EPiServer.Cms.Shell
@using EPiServer.Core
@using EPiServer.ServiceLocation
@using EPiServer.Web
@using EPiServer.Web.Routing
@using OxxCommerceStarterKit.Web.Helpers
@using OxxCommerceStarterKit.Web.Models.Files
@model OxxCommerceStarterKit.Web.Models.ViewModels.DigitalCameraVariationViewModel
@{
    var id = Guid.NewGuid();
    var urlResolver = ServiceLocator.Current.GetInstance<UrlResolver>();
    var currentLanguage = Model.CatalogVariationContent.Language.IetfLanguageTag;
    var media = Model.Media;
    var defaultCollapsedState = "collapse";
    bool isInEditMode = Html.IsInEditMode();
    if (isInEditMode)
    {
        defaultCollapsedState = "collapse in";
    }

}

@helper GetImageTag(MediaData media, string size, UrlResolver urlResolver)
{
    var url = urlResolver.GetUrl(media.ContentLink, null, new VirtualPathArguments() { ContextMode = ContextMode.Default });
    var medium = url + "?preset=" + size;
    <img src="~/Content/masterslider/blank.gif" data-src="@medium" />
}
@helper GetThumbImageTag(MediaData media, string size, UrlResolver urlResolver)
{
    var url = urlResolver.GetUrl(media.ContentLink, null, new VirtualPathArguments() { ContextMode = ContextMode.Default }) + "?preset=" + size;
    <img class="ms-thumb" src="@url" />
}

<!--Shopping Cart Message-->
<section class="cart-message">
    <i class="fa fa-check-square"></i>
    <p class="p-style3">"Nikon" was successfully added to your cart.</p>
    <a class="btn-outlined-invert btn-success btn-sm" href="shopping-cart.html">View cart</a>
</section><!--Shopping Cart Message Close-->

<section class="catalog-single">
    <div ng-controller="CartController" class="row product" id="@id">
        <div class="col-sm-4">
            @if (media != null && media.Count > 0)
            {
                <div class="prod-gal master-slider" id="prod-gal">
                    @foreach (var file in media)
                    {
                        <div class="ms-slide">
                            @GetImageTag(file, "width320", urlResolver)
                            @GetThumbImageTag(file, "sliderimage", urlResolver)

                        </div>
                    }

                </div>
            }
        </div>
        <div class="col-sm-8 col-md-6 main-product-view" itemscope itemtype="http://schema.org/Product">

            <div class="title">

                <h1 itemprop="name">

                    @Html.PropertyFor(x => x.CatalogVariationContent.DisplayName)
                </h1>

            </div>
            <div class="price">
                @if (Model.CatalogVariationContent != null)
                {
                    @Html.Partial("_Price", Model.PriceViewModel)
                }
            </div>
            <div class="rate">
                <span class="active"></span>
                <span class="active"></span>
                <span class="active"></span>
                <span></span>
                <span></span>
            </div>
            <div class="buttons group">
                @if (Model.CatalogVariationContent != null)
                {
                    <div>
                        @Html.Partial("_BuyItem", Model.CartItem)
                    </div>
                }
            </div>
            <p>
                @Html.PropertyFor(p => p.CatalogVariationContent.Description)
            </p>
            <p>
                Artnr:
                <span itemprop="productID">
                    @Model.CatalogVariationContent.Code
                </span>

            </p>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-5">
                    @Html.Partial("_SocialBar", new SocialBarViewModel(Html.Translate("/common/product/share")))
                </div>
            </div>

        </div>
        <div>
            @*@Html.PropertyFor(p => p.CatalogContent.AdditionalContent, new { EditContainerClass = "overflow-hidden", CssClass = "clearfix" })*@
        </div>
    </div>






    <script type="text/javascript">
        $(document).ready(function () {
            var p = new commercestarterkit.Product('#@id');
        });
    </script>

</section>

<!--Tabs Widget-->
<section class="tabs-widget">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a data-target="#specs" data-toggle="tab">@Html.Translate("/common/product/details")</a></li>
        <li><a data-target="#descr" data-toggle="tab">Overview</a></li>
        <li><a data-target="#reviews" data-toggle="tab">Reviews</a></li>
    </ul>
    <div class="tab-content">
        <!--Tab1 (Tech Specs)-->
        <div class="tab-pane fade in active" id="specs">
            <div class="container">
                <div class="row">
                    <section class="tech-specs">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-sm-3"><i class="icon-camera-1"></i><span>Resolution</span></div>
                                            <div class="col-lg-8 col-md-8 col-sm-9">
                                                <p class="p-style2">
                                                    @Html.PropertyFor(p => p.CatalogVariationContent.Resolution) Megapixels
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-sm-3"><i class="icon-camera-1"></i><span>Camera format</span></div>
                                            <div class="col-lg-8 col-md-8 col-sm-9">
                                                <p class="p-style2">
                                                    @Html.PropertyFor(p => p.CatalogVariationContent.CameraFormat)
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-sm-3"><i class="icon-share"></i><span>Connectivity</span></div>
                                            <div class="col-lg-8 col-md-8 col-sm-9">
                                                <p class="p-style2">
                                                    @Html.PropertyFor(p => p.CatalogVariationContent.Connectivity)
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-sm-3"><i class="icon-share"></i><span>Battery</span></div>
                                            <div class="col-lg-8 col-md-8 col-sm-9">
                                                <p class="p-style2">
                                                    @Html.PropertyFor(p => p.CatalogVariationContent.Battery)
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-sm-3"><i class="icon-camera-1"></i><span>Lens mount</span></div>
                                            <div class="col-lg-8 col-md-8 col-sm-9">
                                                <p class="p-style2">
                                                    @Html.PropertyFor(p => p.CatalogVariationContent.LensMount)
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-sm-3"><i class="icon-camera-1"></i><span>File format</span></div>
                                            <div class="col-lg-8 col-md-8 col-sm-9">
                                                <p class="p-style2">
                                                    @Html.PropertyFor(p => p.CatalogVariationContent.FileFormat)
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-sm-3"><i class="icon-camera-1"></i><span>Memory card type</span></div>
                                            <div class="col-lg-8 col-md-8 col-sm-9">
                                                <p class="p-style2">
                                                    @Html.PropertyFor(p => p.CatalogVariationContent.MemoryCardType)
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-sm-3"><i class="icon-camera-1"></i><span>Weight</span></div>
                                            <div class="col-lg-8 col-md-8 col-sm-9">
                                                <p class="p-style2">
                                                    @Html.PropertyFor(p => p.CatalogVariationContent.Weight)
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>


        <!--Tab2 (Description)-->
        <div class="tab-pane fade" id="descr">
            <div class="container">
                <div class="row">
                    @Model.CatalogVariationContent.Overview
                </div>
            </div>
        </div>

        <!--Tab3 (Reviews)-->
        <div class="tab-pane fade" id="reviews">
            <div class="container">
                <div class="row">
                    <div os-reviews data-contentid="@Model.CatalogVariationContent.ContentLink.ID" data-contentlanguage="@currentLanguage"></div>
                </div>
            </div>
        </div>
    </div>
</section><!--Tabs Widget Close-->
@Html.Partial("_SimilarProducts", Model.CatalogVariationContent)
