@using EPiServer.Cms.Shell
@using EPiServer.Core
@using EPiServer.ServiceLocation
@using EPiServer.Web
@using EPiServer.Web.Routing
@using OxxCommerceStarterKit.Web.Helpers
@using OxxCommerceStarterKit.Web.Models.Files
@model OxxCommerceStarterKit.Web.Models.ViewModels.WineSKUViewModel
@{
    var id = Guid.NewGuid();
    var urlResolver = ServiceLocator.Current.GetInstance<UrlResolver>();
    var currentLanguage = Model.CatalogContent.Language.TwoLetterISOLanguageName;
    var media = Model.Media;
    var defaultCollapsedState = "collapse";
    bool isInEditMode = Html.IsInEditMode();
    if (isInEditMode)
    {
        defaultCollapsedState = "collapse in";
    }

}

@helper GetImageTag(MediaData media, string size, UrlResolver urlResolver)
{
    var url = urlResolver.GetUrl(media.ContentLink, null, new VirtualPathArguments() { ContextMode = ContextMode.Default }) + "?preset=" + size;
    <img src="~/Content/masterslider/blank.gif" data-src="@url" />
}
@helper GetThumbImageTag(MediaData media, string size, UrlResolver urlResolver)
{
    var url = urlResolver.GetUrl(media.ContentLink, null, new VirtualPathArguments() { ContextMode = ContextMode.Default }) + "?preset=" + size;
    <img class="ms-thumb" src="@url" />
}


<!--Shopping Cart Message-->
<section class="cart-message">
    <i class="fa fa-check-square"></i>
    <p class="p-style3">"Nikon" was successfully added to your cart.</p>
    <a class="btn-outlined-invert btn-success btn-sm" href="shopping-cart.html">View cart</a>
</section><!--Shopping Cart Message Close-->

<section class="catalog-single">
    <div ng-controller="CartController" class="row product" id="@id">
        <div class="col-sm-4">
            @if (media != null && media.Count > 0)
            {
                <ul id="imageGallery">
                    @foreach (var file in media)
                    {
                        <li data-thumb="@urlResolver.GetUrl(file.ContentLink, null, new VirtualPathArguments() { ContextMode = ContextMode.Default })?preset=sliderimage"
                            data-src="@urlResolver.GetUrl(file.ContentLink, null, new VirtualPathArguments() { ContextMode = ContextMode.Default })">
                            @GetThumbImageTag(file, "width320", urlResolver)
                        </li>
                    }
                </ul>
            }
        </div>
        <div class="col-sm-8 col-md-6 main-product-view" itemscope itemtype="http://schema.org/Product">

            <div class="title">

                <h1 itemprop="name">

                    @Html.PropertyFor(x => x.CatalogContent.DisplayName)
                    @*<small>@Html.PropertyFor(m => m.CatalogContent.NewItemText)</small>*@
                </h1>

            </div>
            <div class="price">
                @if (Model.CatalogContent != null)
                {
                    @Html.Partial("_Price", Model.PriceViewModel)
                }
            </div>
            <div class="rate">
                <span class="active"></span>
                <span class="active"></span>
                <span class="active"></span>
                <span></span>
                <span></span>
            </div>
            <div class="buttons group">
                @if (Model.CatalogContent != null)
                {
                    <div>
                        @Html.Partial("_BuyItem", Model.CartItem)
                    </div>
                }
            </div>
            <p>
                @Html.PropertyFor(p => p.CatalogContent.Info_Description)
            </p>
            <p>
                Artnr:
                <span itemprop="productID">
                    @Model.CatalogContent.Code
                </span>

            </p>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-5">
                    @Html.Partial("_SocialBar", new SocialBarViewModel(Html.Translate("/common/product/share")))
                </div>
            </div>

        </div>
        <div>
            @Html.PropertyFor(p => p.CatalogContent.AdditionalContent, new { EditContainerClass = "overflow-hidden", CssClass = "clearfix" })
        </div>
    </div>






    <script type="text/javascript">
        $(document).ready(function () {
            var p = new commercestarterkit.Product('#@id');
        });
    </script>

</section>

<!--Tabs Widget-->
<section class="tabs-widget">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a data-target="#specs" data-toggle="tab">@Html.Translate("/common/product/details")</a></li>
        <li><a data-target="#descr" data-toggle="tab">Description</a></li>
        <li><a data-target="#reviews" data-toggle="tab">Reviews</a></li>
    </ul>
    <div class="tab-content">
        <!--Tab1 (Tech Specs)-->
        <div class="tab-pane fade in active" id="specs">
            <div class="container">
                <div class="row">
                    <section class="tech-specs">

                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <td>@Html.Translate("/common/product/wine/year")</td>
                                    <td>@Html.PropertyFor(p => p.CatalogContent.Vintage)</td>
                                </tr>
                                <tr>
                                    <td>@Html.Translate("/common/product/wine/country")</td>
                                    <td>@Html.PropertyFor(p => p.CatalogContent.Country)</td>
                                </tr>
                                <tr>
                                    <td>@Html.Translate("/common/product/wine/region")</td>
                                    <td>@Html.PropertyFor(p => p.CatalogContent.Region)</td>
                                </tr>
                                <tr>
                                    <td>@Html.Translate("/common/product/wine/brand")</td>
                                    <td>@Html.PropertyFor(p => p.CatalogContent.Facet_Brand)</td>
                                </tr>
                                <tr>
                                    <td>@Html.Translate("/common/product/wine/grapemix")</td>
                                    <td>@Html.PropertyFor(p => p.CatalogContent.GrapeMix)</td>
                                </tr>
                                <tr>
                                    <td>@Html.Translate("/common/product/wine/alcohol")</td>
                                    <td>@Html.PropertyFor(p => p.CatalogContent.Alcohol)</td>
                                </tr>
                                <tr>
                                    <td>@Html.Translate("/common/product/wine/closure")</td>
                                    <td>@Html.PropertyFor(p => p.CatalogContent.Closure)</td>
                                </tr>
                                <tr>
                                    <td>@Html.Translate("/common/product/wine/color")</td>
                                    <td>@Html.PropertyFor(p => p.CatalogContent.Color)</td>
                                </tr>
                                <tr>
                                    <td>@Html.Translate("/common/product/wine/maturity")</td>
                                    <td>@Html.PropertyFor(p => p.CatalogContent.Maturity)</td>
                                </tr>

                                <tr>
                                    <td>@Html.Translate("/common/product/wine/taste")</td>
                                    <td>@Html.PropertyFor(p => p.CatalogContent.Taste)</td>
                                </tr>
                                <tr>
                                    <td>@Html.Translate("/common/product/wine/size")</td>
                                    <td>@Html.PropertyFor(p => p.CatalogContent.Size)</td>
                                </tr>

                            </table>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <!--Tab2 (Description)-->
        <div class="tab-pane fade" id="descr">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-5 col-sm-5">
                        <img class="center-block" src="img/posts-widget/2.jpg" alt="Description" />
                    </div>
                    <div class="col-lg-8 col-md-7 col-sm-7">
                        <p class="p-style2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6">
                                <h4>Unordered list</h4>
                                <ul>
                                    <li>List item</li>
                                    <li><a href="#">List item link</a></li>
                                    <li>List item</li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6">
                                <h4>Ordered list</h4>
                                <ol>
                                    <li>List item</li>
                                    <li><a href="#">List item link</a></li>
                                    <li>List item</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Tab3 (Reviews)-->
        <div class="tab-pane fade" id="reviews">
            <div class="container">
                <div class="row">
                    <div os-reviews data-contentid="@Model.CatalogContent.ContentLink.ID" data-contentlanguage="@currentLanguage"></div>
                </div>
            </div>
        </div>
    </div>
</section><!--Tabs Widget Close-->
@Html.Partial("_SimilarProducts", Model.CatalogContent)
