@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using Mediachase.Commerce.Customers
@using OxxCommerceStarterKit.Web.Helpers
@using OxxCommerceStarterKit.Web.Models.PageTypes
@model Chrome
@{
    bool isInEditMode = Html.IsInEditMode();
    ChromeLanguageInfo selectedLanguage = Model.Languages.FirstOrDefault(l => l.Selected == true);
    if (selectedLanguage == null) // Odd case
    {
        selectedLanguage = new ChromeLanguageInfo() { DisplayName = "Unknown", Selected = true, Url = "/", EditUrl = "/" };
    }

}
<!--Search Form-->
<form class="search-form closed" action="@Url.ContentUrl(Model.SearchPage)">
    <div class="container">
        <div class="close-search"><i class="icon-delete"></i></div>
        <div class="form-group" ng-controller="AutoCompleteController">
            <label class="sr-only" for="SearchText">@Html.Translate("/common/layout/search_label")</label>
            <span data-valmsg-replace="true" data-valmsg-for="SearchText" class="field-validation-valid"></span>
            @*Todo: Fix language*@
            <input id="SearchText" type="text" class="form-control" placeholder="@Html.Translate("/common/layout/search_placeholder")" name="q" data-val-required="@string.Format(Html.Translate("/common/validation/required"), Html.Translate("/common/layout/search_label"))" required="required" data-val="true" ng-init="init('no')" auto-complete />
            <button type="submit"><i class="icon-magnifier"></i></button>
        </div>
    </div>
</form>
<!--Split Background-->
<div class="left-bg"></div>
<div class="right-bg"></div>

<div class="container">
    <a class="logo" href="@Model.HomePageUrl"><img src="@Model.LogoImageUrl?preset=imagenarrow" class="img-responsive" alt="Logo"></a>
    <!--Language / Currency Switchers-->
    <ul class="switchers">
        <li>
            <a href="#">@selectedLanguage.DisplayName <span class="caret"></span></a>
            <ul class="dropdown">
                @foreach (var langInfo in Model.Languages)
                {
                    if (langInfo.Selected == false)
                    {
                        if (isInEditMode == false)
                        {
                            <li><a href="/@langInfo.Url">@langInfo.DisplayName</a></li>
                        }
                        else
                        {
                            <li><a href="@langInfo.EditUrl" target="_top">@langInfo.DisplayName</a></li>
                        }
                    }
                }

            </ul>
        </li>
    </ul>

    <!--Mobile Menu Toggle-->
    <div class="menu-toggle"><i class="fa fa-list"></i></div>
    <div class="mobile-border"><span></span></div>

    <!--Main Menu-->
    <nav class="menu">
        <ul class="main">
            @if (Model.TopLeftMenu != null)
            {
                @Html.Partial("_TopMenu", Model.TopLeftMenu)
            }
        </ul>
        @Html.Partial("_MainMenu")
    </nav>
    <!--Toolbar-->
    <div class="toolbar group">
        <button class="search-btn btn-outlined-invert"><i class="icon-magnifier"></i></button>
        <div class="middle-btns">
            @{
                var contentLoader = EPiServer.ServiceLocation.ServiceLocator.Current.GetInstance<EPiServer.IContentLoader>();
                var homePage = contentLoader.Get<HomePage>(new EPiServer.Core.ContentReference(EPiServer.Core.ContentReference.StartPage.ID));
                var loginPage = contentLoader.Get<LoginPage>(homePage.Settings.LoginPage);
                var wishlistPage = contentLoader.Get<WishListPage>(homePage.Settings.WishListPage);
                var cartPage = contentLoader.Get<CartSimpleModulePage>(homePage.Settings.CartPage);
                <a class="btn-outlined-invert" href="@Url.ContentUrl(wishlistPage.ContentLink)"><i class="icon-heart"></i> <span>@wishlistPage.Name</span></a>
                <a class="login-btn btn-outlined-invert" href="@Url.ContentUrl(loginPage.ContentLink)"><i class="icon-profile"></i> <span>@loginPage.Name</span></a>
            }
        </div>

        <div class="cart-btn">
            <a class="btn btn-outlined-invert" href="@Url.ContentUrl(cartPage.ContentLink)"><i class="icon-shopping-cart-content"></i><span></span></a>
            <!--Cart Dropdown-->
            <div class="cart-dropdown">
                <span></span><!--Small rectangle to overlap Cart button-->
                <div class="body">
                    <table>
                        <tr>
                            <th>Items</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                        <tr class="item">
                            <td><div class="delete"></div><a href="#">Good Joo-Joo Surfb</a></td>
                            <td><input type="text" value="1"></td>
                            <td class="price">89 005 $</td>
                        </tr>
                        <tr class="item">
                            <td><div class="delete"></div><a href="#">Good Joo-Joo Item</a></td>
                            <td><input type="text" value="2"></td>
                            <td class="price">4 300 $</td>
                        </tr>
                        <tr class="item">
                            <td><div class="delete"></div><a href="#">Good Joo-Joo</a></td>
                            <td><input type="text" value="5"></td>
                            <td class="price">84 $</td>
                        </tr>
                    </table>
                </div>
                <div class="footer group">
                    <div class="buttons">
                        <a class="btn btn-outlined-invert" href="checkout.html"><i class="icon-download"></i>Checkout</a>
                        <a class="btn btn-outlined-invert" href="shopping-cart.html"><i class="icon-shopping-cart-content"></i>To cart</a>
                    </div>
                    <div class="total">93 389 $</div>
                </div>
            </div><!--Cart Dropdown Close-->
        </div>
    </div>
</div>




@*<nav class="navbar navbar-default navbar-static-top navbar-main" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header logo">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainmenu-top">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Model.HomePageUrl"><img src="@Model.LogoImageUrl?preset=imagenarrow" class="img-responsive" alt="Logo"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="mainmenu-top">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        @if (this.User.Identity.IsAuthenticated)
                        {
                            @Html.ContentLink(@CustomerContext.Current.CurrentContact.FullName, Model.AccountPage ?? ContentReference.StartPage)
                        }
                        else
                        {
                            @Html.ContentLink(Model.LoginPage)
                        }
                    </li>
                    @if (Model.TopLeftMenu != null)
                    {
                        @Html.Partial("_TopMenu", Model.TopLeftMenu)
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @Html.Partial("_TopMenu", Model.TopRightMenu, new ViewDataDictionary() { { "ShowCountsOnLinks", true } })
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="@selectedLanguage.IconUrl" />&nbsp;@selectedLanguage.DisplayName <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            @foreach (var langInfo in Model.Languages)
                            {
                                if (langInfo.Selected == false)
                                {
                                    if (isInEditMode == false)
                                    {
                                        <li><a href="/@langInfo.Url"><img src="@langInfo.IconUrl" />&nbsp;@langInfo.DisplayName</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="@langInfo.EditUrl" target="_top"><img src="@langInfo.IconUrl" />&nbsp;@langInfo.DisplayName</a></li>
                                    }
                                }
                            }
                        </ul>
                    </li>
                </ul>




            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>*@



