@using EPiServer.Framework.Web.Mvc.Html
@using EPiServer.Security
@using EPiServer.ServiceLocation
@using OxxCommerceStarterKit.Web.Business
@using OxxCommerceStarterKit.Web.Helpers
@using OxxCommerceStarterKit.Web.Models.PageTypes
@{
    var chrome = (Chrome)ViewBag.Chrome;
}
<!DOCTYPE html>
<html lang="no" ng-app="productApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-config" content="none" />
    <title>@ViewBag.Title</title>

    @* Facebook Open Graph *@
    @Html.Partial("_OpenGraphView")

    <link rel="icon" type="image/ico" href="" />
    <!--[if lt IE 9]>
      <script src="@Url.Content("~/Scripts/libraries/html5shiv.js")"></script>
      <script src="@Url.Content("~/Scripts/libraries/respond.min.js")"></script>
    <![endif]-->
    @Styles.Render("~/bundles/css")
    @if (string.IsNullOrEmpty(chrome.ColorScheme) == false)
    {
        <link href="@Url.Content("~/Content/css/colors/" + chrome.ColorScheme + ".css")" rel="stylesheet" type="text/css" />
    }
        
    <!--Modernizr-->
    <script src="@Url.Content("~/Content/js/libs/modernizr.custom.js")"></script>
    <!--Adding Media Queries Support for IE8-->
    <!--[if lt IE 9]>
      <script src="js/plugins/respond.js"></script>
    <![endif]-->

    @* jQuery needs to run early, earlier than Bootstrap *@
    @Scripts.Render("~/bundles/jquery")

    <link media="print" href="@Url.Content("~/Content/less/print.css")" rel="stylesheet" type="text/css" />

    @RenderSection("Head", false)
    @Html.RequiredClientResources(EPiServer.Framework.Web.RenderingTags.Header)
    @{
        SettingsBlock settings = ServiceLocator.Current.GetInstance<ISiteSettingsProvider>().GetSettings();
        if (settings != null)
        {
            if (string.IsNullOrEmpty(settings.HeaderScripts) == false)
            {
                @Html.Raw(settings.HeaderScripts)
            }
        }
    }
</head>
<body>
    @RenderSection("BodyStart", required: false)
    @Html.RenderEPiServerQuickNavigator()
    @if (chrome.ShowWarning)
    {
        @Html.Partial("SetupWarning")
    }

    <header role="banner" data-offset-top="150" data-stuck="250">
        @Html.Partial("_Header", chrome)
    </header>
    <div class="page-content">
        <section role="main" class="page">
            <div class="container">
                <!--Shopping Cart Message-->
                <section class="cart-message">
                    <i class="fa fa-check-square"></i>
                    <p class="p-style3">@Html.Translate("/common/product/add_to_cart_complete")</p>
                </section><!--Shopping Cart Message Close-->
                <div id="productDialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <a href="javascript:;" class="close" role="button">@Html.Translate("/common/layout/close_dialog")</a>
                            <div class="modal-body product-page"></div>
                        </div>
                    </div>
                </div>
                <div id="sizeGuideDialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <a href="javascript:;" class="close" role="button">Close</a>
                            <div class="modal-body"></div>
                        </div>
                    </div>
                </div>
                <div id="lightbox" class="lightbox fade" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="lightbox-dialog">
                        <div class="lightbox-content">
                            <a href="javascript:;" class="close" role="button">@Html.Translate("/common/layout/close_dialog")</a>
                            <img src="about:blank">
                        </div>
                    </div>
                </div>
                @RenderBody()
            </div>
        </section>
    </div>
    <footer role="contentinfo" class="footer">
        @Html.Partial("_Footer", chrome)
    </footer>

    @*<script src="~/Scripts/libraries/jquery-migrate-1.2.1.min.js"></script>*@
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryaddons")
    <script src="@Url.Content("~/Content/js/scripts.js")"></script>

    @Scripts.Render("~/bundles/general")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angular_app")
    <script type="text/javascript">
        Oxx.AjaxUtils.sitePath = '@Url.Content("~/")';
        Oxx.AjaxUtils.language = '@chrome.Language';
    </script>
    @RenderSection("scripts", required: false)
    @Html.RequiredClientResources(EPiServer.Framework.Web.RenderingTags.Footer)
</body>
</html>
