@using EPiServer.Core
@using OxxCommerceStarterKit.Web.Helpers

@{
    Layout = null;
    int max = ViewData["Max"] != null ? (int)ViewData["Max"] : 0;
}

@if (Model != null)
{
    <ul class="catalog">
        @Html.MenuList(ContentReference.StartPage, ItemTemplate, max)
    </ul>
}

@helper ItemTemplate(HtmlHelpers.MenuItem firstLevelItem)
{
    bool hasChildren = firstLevelItem.HasChildren.Value;
    <li class="@(firstLevelItem.Selected ? "active" : "") @(hasChildren ? "has-submenu" : "")">
        @if (hasChildren)
        {
            <a href="javascript:;">@firstLevelItem.Page.Name <i class="fa fa-chevron-down"></i></a>
            <ul class="submenu">
                @Html.MenuList(firstLevelItem.Page.ContentLink, SubLevelItemTemplate)
            </ul>
        }
        else
        {
            @Link(firstLevelItem.Page)
        }
    </li>
}

@helper SubLevelItemTemplate(HtmlHelpers.MenuItem subLevelItem)
{
    <li class="@(subLevelItem.Selected ? "active" : null)">
        @Link(subLevelItem.Page)
    </li>
}

@helper Link(PageData page)
{
    @Html.PageLink(page)
}