@using OxxCommerceStarterKit.Web.Helpers
@model OxxCommerceStarterKit.Web.Models.ViewModels.IPageViewModel<OxxCommerceStarterKit.Web.Models.PageTypes.ArticleWithSidebarPage>
@{
    ViewBag.Title = Model.CurrentPage.Name;
}
<div class="article-page">
    <div class="row">
        <div class="pre-content">
            @Html.PropertyFor(x => x.CurrentPage.PreBodyContent, new { CssClass = "overflow-hidden clearfix" })
        </div>
        @Html.Partial("PagePartials/_PageTitle", Model)
    </div>
    <div class="row">
        <div class="col-md-8">
            @if (Model.CurrentPage.Intro != null || Html.IsInEditMode())
            {
                <div class="lead">@Html.PropertyFor(m => m.CurrentPage.Intro)</div>
            }
            <div class="body">
                @Html.PropertyFor(m => m.CurrentPage.BodyText)
            </div>

            <div class="body-content">
                @Html.PropertyFor(x => x.CurrentPage.BodyContent, new { CssClass = "overflow-hidden clearfix" })
            </div>
        </div>
        <div class="col-md-4">
            @*Content area on the right hand side of the page*@
            @Html.PropertyFor(x => x.CurrentPage.SidebarContent, new { CssClass = "overflow-hidden clearfix" })
        </div>
    </div>
</div>