@using System.Globalization;
@using System.Threading
@using System.Web.Mvc
@using EPiServer.Framework.Localization;
@{
    Layout = null;
    var lang = Request.QueryString["lang"];
    CultureInfo currentCulture = new CultureInfo(lang);


}
<div class="rate">
    <span ng-class="{'active' : reviewResult.AverageReview  >= 0.5, 'half' : reviewResult.AverageReview  == 0.5}"></span>
    <span ng-class="{'active' : reviewResult.AverageReview  >= 1.5, 'half' : reviewResult.AverageReview  == 1.5}"></span>
    <span ng-class="{'active' : reviewResult.AverageReview  >= 2.5, 'half' : reviewResult.AverageReview  == 2.5}"></span>
    <span ng-class="{'active' : reviewResult.AverageReview  >= 3.5, 'half' : reviewResult.AverageReview  == 3.5}"></span>
    <span ng-class="{'active' : reviewResult.AverageReview  >= 4.5, 'half' : reviewResult.AverageReview  == 4.5 }"></span>
</div>
<div>
    <span>{{reviewResult.AverageReview | number:1}}</span> @LocalizationService.Current.GetStringByCulture("/components/review/average", currentCulture) - <span ng-bind="reviewResult.TotalNumberOfReviews"></span> @LocalizationService.Current.GetStringByCulture("/components/review/title", currentCulture)
</div>
<div class="col-md-8">
    <div class="review" ng-repeat="review in reviewResult.Reviews">
        <h3 ng-bind="review.Heading"></h3>
        <div><span ng-bind="review.UserName"></span>, <span>{{ review.ReviewDate | date : 'dd/MM/yyyy'}}</span></div>
        <div class="rate">
            <span ng-class="{'active' : review.Rating > 0}"></span>
            <span ng-class="{'active' : review.Rating > 1}"></span>
            <span ng-class="{'active' : review.Rating > 2}"></span>
            <span ng-class="{'active' : review.Rating > 3}"></span>
            <span ng-class="{'active' : review.Rating > 4}"></span>
        </div>
        <div ng-bind="review.Text"></div>
        <div ng-bind="review.UserDisplayName"></div>
    </div>
</div>
<div class="col-md-4">
    <h3>
        <a id="openWriteReview" ng-click="toggleReview()"> @LocalizationService.Current.GetStringByCulture("/components/review/write", currentCulture)</a>
    </h3>
    <div >
        <form ng-submit="submitReview(reviewForm)" name="reviewForm" ng-show="collapsedWriteReview">
            <div class="form-group">
                <label class="sr-only" for="review-heading">Name</label>
                <input type="text" class="form-control" ng-model="reviewData.UserName" required name="username" id="review-username" placeholder="@LocalizationService.Current.GetStringByCulture("/components/review/username", currentCulture)">
            </div>
            <div class="alert alert-danger"
                 ng-show="reviewForm.username.$error.required && reviewForm.username.$dirty">
                @LocalizationService.Current.GetStringByCulture("/components/review/required_username", currentCulture)
            </div>
            <div class="form-group">
                <label class="sr-only" for="review-heading">@LocalizationService.Current.GetStringByCulture("/components/review/newreview_heading", currentCulture)</label>
                <input type="text" class="form-control" ng-model="reviewData.Heading" required name="title" id="review-heading" placeholder="@LocalizationService.Current.GetStringByCulture("/components/review/newreview_heading", currentCulture)">
            </div>
            <div class="alert alert-danger"
                 ng-show="reviewForm.title.$error.required && reviewForm.title.$dirty">
                @LocalizationService.Current.GetStringByCulture("/components/review/required_title", currentCulture)
            </div>
            <div class="form-group">
                <label class="sr-only" for="review-text">@LocalizationService.Current.GetStringByCulture("/components/review/newreview_text", currentCulture)</label>
                <textarea class="form-control" name="message" required ng-model="reviewData.Text" id="review-text" rows="5" placeholder="@LocalizationService.Current.GetStringByCulture("/components/review/newreview_text", currentCulture)"></textarea>
            </div>
            <div class="alert alert-danger"
                 ng-show="reviewForm.message.$error.required && reviewForm.message.$dirty">
                @LocalizationService.Current.GetStringByCulture("/components/review/required_review", currentCulture)
            </div>
            <div class="form-group">
                <div class="rate">
                    <span ng-class="{'active' : rating > 0 }" ng-click="setRating(1)"></span>
                    <span ng-class="{'active' : rating > 1 }" ng-click="setRating(2)"></span>
                    <span ng-class="{'active' : rating > 2 }" ng-click="setRating(3)"></span>
                    <span ng-class="{'active' : rating > 3 }" ng-click="setRating(4)"></span>
                    <span ng-class="{'active' : rating > 4 }" ng-click="setRating(5)"></span>
                </div>
            </div>

            <div>
                <input class="btn btn-primary" type="submit" ng-disabled="reviewForm.$invalid" value="@LocalizationService.Current.GetStringByCulture("/components/review/post", currentCulture)" ng-click="Submit">
            </div>
        </form>
    </div>
</div>
