@using System.Globalization;
@using System.Threading
@using System.Web.Mvc
@using EPiServer.Framework.Localization;
@{
    Layout = null;
    var lang = Request.QueryString["lang"];
    CultureInfo currentCulture = new CultureInfo(lang);


}
<div class="rate">
    <span ng-class="{'active' : reviewResult.AverageReview  >= 0.5, 'half' : reviewResult.AverageReview  == 0.5}"></span>
    <span ng-class="{'active' : reviewResult.AverageReview  >= 1.5, 'half' : reviewResult.AverageReview  == 1.5}"></span>
    <span ng-class="{'active' : reviewResult.AverageReview  >= 2.5, 'half' : reviewResult.AverageReview  == 2.5}"></span>
    <span ng-class="{'active' : reviewResult.AverageReview  >= 3.5, 'half' : reviewResult.AverageReview  == 3.5}"></span>
    <span ng-class="{'active' : reviewResult.AverageReview  >= 4.5, 'half' : reviewResult.AverageReview  == 4.5 }"></span>
</div>
<div>
    <span>{{reviewResult.AverageReview | number:1}}</span> @LocalizationService.Current.GetStringByCulture("/components/review/average", currentCulture) - <span ng-bind="reviewResult.TotalNumberOfReviews"></span> @LocalizationService.Current.GetStringByCulture("/components/review/title", currentCulture)
</div>
<div class="col-md-8">
    <div class="review" ng-repeat="review in reviewResult.Reviews">
        <h3 ng-bind="review.Heading"></h3>
        <div class="rate">
            <span ng-class="{'active' : review.Rating > 0}"></span>
            <span ng-class="{'active' : review.Rating > 1}"></span>
            <span ng-class="{'active' : review.Rating > 2}"></span>
            <span ng-class="{'active' : review.Rating > 3}"></span>
            <span ng-class="{'active' : review.Rating > 4}"></span>
        </div>
        <div ng-bind="review.Text"></div>
        <div ng-bind="review.UserDisplayName"></div>
    </div>
</div>
<div class="col-md-4">
    <h3>
        <a id="openWriteReview" ng-model="collapsedWriteReview" ng-click="collapsedWriteReview=!collapsedWriteReview"> @LocalizationService.Current.GetStringByCulture("/components/review/write", currentCulture)</a>
    </h3>
    <div ng-show="collapsedWriteReview">
        <form ng-submit="submitReview(formData)">
            <div class="form-group">
                <label class="sr-only" for="review-tittle">Review title</label>
                <input type="text" class="form-control" ng-model="formData.heading" name="title" id="review-heading" placeholder="@LocalizationService.Current.GetStringByCulture("/components/review/newreview_heading", currentCulture)">
            </div>
            <div class="form-group">
                <label class="sr-only" for="review-text">Your review</label>
                <textarea class="form-control" name="message" ng-model="formData.text" id="review-text" rows="5" placeholder="@LocalizationService.Current.GetStringByCulture("/components/review/newreview_text", currentCulture)"></textarea>
            </div>
            <div class="form-group">
                <div class="rate">
                    <span ng-class="{'active' : rating > 0 }" ng-click="setRating(1)"></span>
                    <span ng-class="{'active' : rating > 1 }" ng-click="setRating(2)"></span>
                    <span ng-class="{'active' : rating > 2 }" ng-click="setRating(3)"></span>
                    <span ng-class="{'active' : rating > 3 }" ng-click="setRating(4)"></span>
                    <span ng-class="{'active' : rating > 4 }" ng-click="setRating(5)"></span>
                </div>
            </div>

            <div>
                <input class="btn btn-primary" type="submit" value="@LocalizationService.Current.GetStringByCulture("/components/review/post", currentCulture)" ng-click="Submit">
            </div>
        </form>
    </div>
</div>
