@using OxxCommerceStarterKit.Web.Extensions
@using OxxCommerceStarterKit.Web.Models.PageTypes
@model OxxCommerceStarterKit.Web.Models.ViewModels.ShoppingCategoryViewModel
@{
	ViewBag.Title = Model.CurrentPage.Name;
}
<div class="catalog-grid">

    <div id="equalHeights" class="row" ng-controller="ProductAndSearchController" ng-init="init('@Model.CommerceCategoryIds','@Model.CommerceRootCategoryName', '@Model.Language', @Model.NumberOfProductsToShow)">
        <div class="filters-mobile col-lg-3 col-md-3 col-sm-4">
            <aside class="shop-filters">
                <section class="filter-section" ng-cloak>
                    <h3>@Model.ParentName <a href="javascript:;" class="visible-xs glyphicon glyphicon-chevron-up" data-toggle="collapse" data-target="#id76123"> </a></h3>
                    <ul class="categories" id="id76123">
                        @foreach (var page in Model.CategoryPages)
                        {
                            var children = page.GetChildren<ShoppingCategoryPage>();
                            bool active = page.ContentLink.ID == Model.CurrentPage.ContentLink.ID || children.Any(x => x.ContentLink.ID == Model.CurrentPage.ContentLink.ID);
                            <li class="@(children.Count() > 0 ? "has-subcategory" : "")">
                                <a href="@Url.ContentUrl(page.ContentLink)">@page.PageName</a>
                                @if (children.Count() > 0)
                                {
                                    <ul class="subcategory">
                                        @foreach (var childPage in children)
                                        {
                                            <li>
                                                <a href="@Url.ContentUrl(childPage.ContentLink)">@childPage.PageName</a>
                                            </li>
                                        }
                                    </ul>
                                }
                            </li>
                        }
                    </ul>

                </section>
                @Html.Partial("PagePartials/_Facets")
            </aside>
        </div>

        <div class="col-lg-9 col-md-9 col-sm-8 product-list" ng-cloak>
            <h1 @Html.EditAttributes(x => x.CurrentPage.PageName)>@Model.CurrentPage.PageName</h1>
            @Html.Partial("PagePartials/_PageColumnsControl")
            @Html.PropertyFor(x => x.CurrentPage.PageSubHeader)
            @Html.PropertyFor(x => x.CurrentPage.TopContentArea)
            @Html.Partial("PagePartials/_ProductList")
            <div class="loader" ng-show="loaderVisible === true"><img src="@Url.Content("~/Content/Images/ajax-loader-lightbg-ts.gif")" /></div>
            @Html.PropertyFor(x => x.CurrentPage.BottomContentArea)
        </div>
    </div>
</div>
