@using OxxCommerceStarterKit.Web.Extensions
@using OxxCommerceStarterKit.Web.Models.PageTypes
@model OxxCommerceStarterKit.Web.Models.ViewModels.ShoppingCategoryViewModel
@{
	ViewBag.Title = Model.CurrentPage.Name;
}
<!--Filters Modal-->
<div class="modal fade" id="filterModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button></div>
            <div class="modal-body">
                <!--Here goes filters dynamically pasted by jQuery-->
            </div>
        </div>
    </div>
</div>
<!--Filters Toggle-->
<div class="filter-toggle" data-toggle="modal" data-target="#filterModal"><i class="fa fa-filter"></i></div>
<div class="catalog-grid">

    <div id="equalHeights" class="row" ng-controller="ProductAndSearchController" ng-init="init('@Model.CommerceCategoryIds', '@Model.Language', @Model.NumberOfProductsToShow)">
        <div class="filters-mobile col-lg-3 col-md-3 col-sm-4">
            <aside class="shop-filters">
                @Html.Partial("PagePartials/_Facets")
            </aside>
        </div>

        <div class="col-lg-9 col-md-9 col-sm-8 product-list" ng-cloak>
            <h1 @Html.EditAttributes(x => x.CurrentPage.PageName)>@Model.CurrentPage.PageName</h1>
            @Html.Partial("PagePartials/_PageColumnsControl")
            @Html.PropertyFor(x => x.CurrentPage.PageSubHeader)
            @Html.PropertyFor(x => x.CurrentPage.TopContentArea)
            @Html.Partial("PagePartials/_ProductList")
            <div class="loader" ng-show="loaderVisible === true"><img src="@Url.Content("~/Content/Images/ajax-loader-lightbg-ts.gif")" /></div>
            @Html.PropertyFor(x => x.CurrentPage.BottomContentArea)
        </div>
    </div>
</div>
